<p>
  <strong>Name:</strong>
  <%= naughty_filter(@idea.name) %>
</p>

<p>

  <strong>Description:</strong>
  <%= naughty_filter(@idea.description) %>
</p>
Coolness  : <%= rating_for @idea, 'coolness', star: 5 %>
<p>
  <strong>Picture:</strong>
  <%= image_tag(@idea.picture_url, width: 600) if @idea.picture.present? %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
